<head><link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/contactus.css') }}"></head>
<head>
    <div class="strip">
{% include '_navbar.html' %}
</div>
<div class="split left">
  <div class="centered">
      <a href="https://www.google.com/maps/place/RV+College+of+Engineering%C2%AE/@12.9237228,77.4987012,15z/data=!4m5!3m4!1s0x0:0x75a3463d510cf26e!8m2!3d12.9237228!4d77.4987012"> <img src="static/css/rvce_map.png" alt="Avatar woman"></a>

  </div>
</div>

<div class="split right">
  <div class="centered">
    <h1 style=" font-size: 58px; font-weight: bold; color: white;">CONTACT US</h1>
    <p style="color: white; font-size: 30px; line-height: 10px;">Email ID: wcm@rvce.edu.in </p>
      <p style="color: white; font-size: 30px; line-height: 10px;">Contact No: 7349128334 </p>
      <p style="color: white; font-size: 30px; line-height: 10px;">Website: <a href="https://rvce.edu.in/">www.rvce.edu.in/</a> </p>
  </div>
</div>
    <style>

    </style>
</head>