 <div class="navbar navbar-inverse navbar-fixed-top" style="background: #228B22 !important;">
            <div class="adjust-nav">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!--a class="navbar-brand" href="#">
                        <img src="assets/img/logo.png" />

                    </a-->

                </div>

                <span class="logout-spn" style="background: #228B22 !important;">
                  <a href="/" style="color:#fff;">LOGOUT</a>

                </span>
            </div>
        </div>
        <!-- /. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">



                    <li class="active-link">
                        <a href="/admin" ><i class="fa fa-desktop "></i>Dashboard</a>
                    </li>

                    <li>
                        <a href="/notifications"><i class="fa fa-qrcode "></i>Notifications </a>
                    </li>


                    <li>
                        <a href="/addbin"><i class="fa fa-table "></i>Add Bin  </a>
                    </li>
                    <li>
                        <a href="/addcleaner"><i class="fa fa-edit "></i>Add Cleaner </a>
                    </li>

                    <li>
                        <a href="/cleanerlist"><i class="fa fa-bar-chart-o"></i>List of Cleaners</a>
                    </li>

                    <li>
                        <a href="/binlist"><i class="fa fa-edit "></i>List of Bins</a>
                    </li>

                </ul>
                            </div>

        </nav>
        <!-- /. NAV SIDE  -->